### Git ###
.git/
.github/

### VSCode ###
.vscode/

### Python Cache ###
__pycache__
*.pyc
__init__.py

### Login and Configuration ###
login.py
configs/
.env

### Media Folder Contents ###
downloads/
img/
music/
sfx/
temp/

### Logs, data and notes
src/logs/
src/data/
.sandbox/
errors/
*.txt
old/
