### Git ###
.git/
.github/

### VSCode ###
.vscode/

### Python Cache ###
__pycache__
*.pyc
__init__.py


### Media Folder Contents ###
downloads/
img/
music/
sfx/
temp/

### Logs, data and notes
src/logs/
src/data/
configs/
.sandbox/
errors/
*.txt
old/
.env
