### Git ###
.git/

### IntelliJ IDEA ###
.idea/

### VSCode ###
.vscode/

### Python Cache ###
__pycache__
*.pyc

### Login and Configuration ###
login.py
configuration.py

### Media Folder Contents ###
downloads/
music/
sfx/
temp/

### Test Files ###
test_*